<div id="main">
	<div id="head">
		<a [routerLink]="['/signin']">Login for admin</a>
		<div *ngIf='user'>
			<a [routerLink]="['/newofficial']">New Official</a>
		</div>
		<a [routerLink]="['/newrequest']">Add promise</a>
		<p></p>
		Seasrch:
		<input type="text" name="val" class="form-control" placeholder="Enter state" (ngModelChange)="findTypedState($event)" [ngModel] = "typedSearch.search">
		State:
		<select (change)="findState($event.target.value)">
				<option value="all">All</option>
				<option *ngFor='let x of states' [value]="">{{x}}</option>
		</select>
		City:
		<select (change)="findCity($event.target.value)">
				<option value="">Choose one</option>
				<option *ngFor='let x of cities' [value]="">{{x}}</option>
		</select>
	</div>
	<div *ngIf="suggetions_bool" id="offs2">
		<div *ngFor='let x of suggetions'>
				<a [routerLink]="[x._id]">
					<div id="official2">
					<img src={{x.photo}} width="150px" height="90px">
					<h3>Full name: {{x.first_name}} {{x.last_name}}</h3>
					<p>Description: {{x.description}}</p>
					<p>Location: {{x.city}}, {{x.state}}</p>
						<p *ngIf='x.rating>-100'><span style="color: red"> Rating {{x.rating}}</span></p>
				</div></a>

			</div>
	
	</div>
	<div id="list">
		<div *ngIf='officials' id="offs">
			<div *ngFor='let off of officials'>
				<a [routerLink]="[off._id]"><div id="official">
					<img src={{off.photo}} width="300px" height="180px">
					<h3>Full name: {{off.first_name}} {{off.last_name}}</h3>
					<p>Description: {{off.description}}</p>
					<p>Location: {{off.city}}, {{off.state}}</p>
						<p *ngIf='off.rating>-100'><span style="color: red"> Rating {{off.rating}}</span></p>
				</div></a>

			</div>
		</div>
	</div>
</div>