<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Untitled (copy)</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/Contact-Form-Clean.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="/Footer-Dark.css">
    <link rel="stylesheet" href="/Navigation-Clean1.css">
    <link rel="stylesheet" href="/Projects-Horizontal.css">
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <div>
        <nav class="navbar navbar-inverse navigation-clean" style="background-color:rgb(40,45,50);">
            <div class="container">
                <div class="navbar-header"><a class="navbar-brand" href="#">OfficialPromise</a><button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button></div>
                <div
                    class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li role="presentation"><a [routerLink]="['/enter']" style="color:rgb(255,255,255);">All officials</a></li>

                        <li role="presentation"><a [routerLink]="['/newrequest']">+Add new person or promise</a></li>
                    </ul>
            </div>
    </div>
    </nav>
    </div>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <form method="post">
                        <h2 class="text-center">Add a promise</h2>
                        <div class="form-group has-success has-feedback"><input class="form-control" type="text" name="name" placeholder="Name"><i class="form-control-feedback glyphicon glyphicon-ok" aria-hidden="true"></i></div>
                        <div class="form-group has-error has-feedback"><input class="form-control" type="email" name="email" placeholder="Email"><i class="form-control-feedback glyphicon glyphicon-remove" aria-hidden="true"></i>
                            <p class="help-block">Please enter a correct email address.</p>
                        </div>
                        <div class="form-group"><textarea class="form-control" rows="14" name="message" placeholder="Message"></textarea></div>
                        <div class="form-group"><button class="btn btn-primary" type="submit">send </button></div>
                    </form>
                </div>
                <div class="col-md-6">
                    <form method="post">
                        <h2 class="text-center">Add a promise</h2>
                        <div class="form-group has-success has-feedback"><input class="form-control" type="text" name="name" placeholder="Name"><i class="form-control-feedback glyphicon glyphicon-ok" aria-hidden="true"></i></div>
                        <div class="form-group has-error has-feedback"><input class="form-control" type="email" name="email" placeholder="Email"><i class="form-control-feedback glyphicon glyphicon-remove" aria-hidden="true"></i>
                            <p class="help-block">Please enter a correct email address.</p>
                        </div>
                        <div class="form-group"><textarea class="form-control" rows="14" name="message" placeholder="Message"></textarea></div>
                        <div class="form-group"><button class="btn btn-primary" type="submit">send </button></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-dark">
        <footer>
            <div class="container">
                <p class="copyright">23rd Squad © 2018 </p>
            </div>
        </footer>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>

<!--  -->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<div>
        <nav class="navbar navbar-inverse navigation-clean" style="background-color:rgb(40,45,50);">
            <div class="container">
                <div class="navbar-header"><a class="navbar-brand" href="#">OfficialPromise</a><button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button></div>
                <div
                    class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li role="presentation"><a [routerLink]="['/enter']" style="color:rgb(255,255,255);">All officials</a></li>

                        <li role="presentation"><a [routerLink]="['/newrequest']">+Add new person or promise</a></li>
                        
                    </ul>
            </div>
    </div>
    </nav>
    </div>



<div id="input">
<div id="login">
	<h1>Adding a promise</h1>
    <form NAME='myForm2' (submit)= "newRequest()" #myForm2="ngForm">
        <p>Link: <input class='inbox'
          type="text"
          required 
          name="link"
          minlength="2" 
          [(ngModel)]="request.link"
          #link='ngModel'>
          <strong *ngIf='link.invalid && ( link.dirty || link.touched)'><span style="color: red">   Uphold Email format</span></strong><strong *ngIf='link.valid && ( link.dirty || link.touched)'><span style="color: green">   Looks good!</span></strong>
        </p>
        <p>Description: <input class='inbox' 
          type="text" 
          required 
          minlength="2"
          name="description"
          [(ngModel)]="request.description"
          #description='ngModel'>
        </p>
        <p>Your e-mail: <input class='inbox'
          type="text"
          required 
          name="email"
          minlength="2" 
          [(ngModel)]="request.email"
          #email='ngModel'>
          <strong *ngIf='email.invalid && ( email.dirty || email.touched)'><span style="color: red">   Uphold Email format</span></strong><strong *ngIf='email.valid && ( email.dirty || email.touched)'><span style="color: green">   Looks good!</span></strong>
        </p>
        

      <input type="submit" value="Add" [disabled]="myForm2.invalid">
    </form>
</div>

  <div id="registration">
    <h1>Offer a new official</h1>
    <div>
      <form name='myForm' (submit)= "onSubmit()" #myForm="ngForm">

      <p>*First name: </p>
      
      <input 
      type="text" 
      name="first_name" 
      required 
      minlength="1" 
      maxlength="24"
      [(ngModel)]="official.first_name"
      #first_name='ngModel'
      ><strong *ngIf='first_name.valid && ( first_name.dirty || first_name.touched)'><span style="color: green">  Looks good!</span></strong>
      <strong *ngIf='first_name.invalid && ( first_name.dirty || first_name.touched)'><span style="color: red">  First name must be 4 characters long</span></strong>
     
    <p>*Last name: </p>

    <input 
      type="text" 
      name="last_name" 
      required 
      minlength="1"
      maxlength="24"
      [(ngModel)]="official.last_name"
      #last_name='ngModel'
    ><strong *ngIf='last_name.invalid && ( last_name.dirty || last_name.touched)'><span style="color: red">  Last name must be 4 characters long</span></strong>
    <strong *ngIf='last_name.valid && ( last_name.dirty || last_name.touched)'><span style="color: green">  Looks good!</span></strong>
      
    <p>Description: </p>
    <input 
      type="text" 
      name="description" 
      [(ngModel)]="official.description"
    >
    <p>*State: </p>
     <input 
      type="text" 
      name="state" 
      required 
      minlength="1"
      maxlength="24"
      placeholder="Full state name" 
      [(ngModel)]="official.state"
      #state='ngModel'
    ><strong *ngIf='state.invalid && ( state.dirty || state.touched)'><span style="color: red">  Invalid input</span></strong>
 	
 	<p>*City: </p>
 	 <input 
      type="text" 
      name="city" 
      required 
      minlength="1"
      maxlength="24"
      placeholder="Full city name" 
      [(ngModel)]="official.city"
      #city='ngModel'
    ><strong *ngIf='city.invalid && ( city.dirty || city.touched)'><span style="color: red">  Invalid input</span></strong>

      
    
    <p>Photo URL: </p>
    <input 
      type="text" 
      name="photo"
      [(ngModel)]="official.photo">
      


      <br><br><input type="submit" [disabled]="myForm.invalid">

      </form>

    </div>
    </div>
</div>
    <div class="footer-dark">
        <footer>
            <div class="container">
                <p class="copyright">23rd Squad © 2018 </p>
            </div>
        </footer>
    </div>