<a [routerLink]="['/enter']">Back</a>
<div *ngIf='official'>
	<h1>{{official.first_name}} {{official.last_name}}</h1>
	<h3>{{official.description}}</h3>
	<img src={{official.photo}}>

<h3>Total promises: {{total}}</h3>
<h3>Failed: {{failed.length}}</h3>
<h3>Succeed: {{succeed.length}}</h3>
<h3>Processing: {{proccessing.length}}</h3>
<a *ngIf='admin==true' [routerLink]="['/edit', official._id]">Edit</a>
<div class="prom" *ngIf='promises'>
	<div *ngFor='let x of promises'>
		<h4>{{x.title}}</h4>
		<p>{{x.description}}</p>
		<p>{{x.status}}</p>
		<a href={{x.link}}>Source</a>
		<span *ngIf='admin==true'>
			<select (change)="onChange(x._id, $event.target.value)">
				<option value="">Choose one</option>
				<option value="inproccess">In proccess</option>
	          	<option value="succeed">Succeed</option>
	          	<option value="failed">Failed</option>
			</select>
		</span>
		

	</div>
</div>


<div id='post_form'>
    <h4>Say what do you think about {{official.first_name}} {{official.last_name}}</h4>
    <form NAME='myForm' (submit)= "createPost()" #myForm="ngForm">
        <p>Text: <input class='inbox'
          type="text"
          required 
          name="text"
          minlength="1" 
          [(ngModel)]="post.text"
          #text='ngModel'>
        </p>

        <p>Name (optional): <input class='inbox' 
          type="text" 
          name="user"
          [(ngModel)]="post.user"
          #user='ngModel'>
        </p>

      <input type="submit" value="Send" [disabled]="myForm.invalid">
    </form>
  </div>
</div>
<div *ngIf='posts'>
	<div id = "post">
		<div *ngFor='let x of posts; let in = index'>
			<div id="one_post">
				<p>{{x.user}} said:</p>
				<p style="margin-top: -15px">{{x.text}}</p>
				<p style="font-size: xx-small;color: grey; margin-top: -15px" align="right" >{{x.createdAt}}</p>
				<span *ngIf='admin==true'>
				  			<button (click)="deletePost(x._id)">Delete</button>
				  		</span>
				<p style="font-size: small;" align="right">Leave a comment:</p>
				<div id='comment_form' align='right'>
				   

						<div>
						      <input name="text" type="text" placeholder="comment..." [(ngModel)] = "arrComments[in]['text']">
						      <input name="text" type="text" placeholder="Name(optional)" [(ngModel)] = "arrComments[in]['user']">
						      <br>
						      <button (click)="createComment(in, x._id)">Add</button>
						</div>
					


				  </div>
				  <div *ngFor='let comment of x.comments'>
				  	<div class='one_comment' style="margin-left: 70px">
				  		<p style="font-size: x-small; margin-bottom: -10px ">{{comment.user}} commented: </p>
				  		<p style="font-size: small">{{comment.text}}</p>
				  		<span *ngIf='admin==true'>
				  			<button (click)="deleteComment(comment._id)">Delete</button>
				  		</span>
				  	</div>
				  </div>
			</div>
		</div>	
	</div>
	
</div>