<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test</title>
    <!-- <link rel="stylesheet" href="vendor/bower_components/bootstrap/dist/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="/Features-Clean.css">
    <link rel="stylesheet" href="/Footer-Dark.css">
    <link rel="stylesheet" href="/Navigation-Clean1.css"> -->
    <link rel="stylesheet" href="/">
</head>

<body>
	<div>
		<nav class="navbar navbar-inverse navigation-clean" style="background-color:rgb(40,45,50);">
	            <div class="container" *ngIf="official!=null">
	                <div class="navbar-header"><a class="navbar-brand" href="#">OfficialPromise</a><button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
	                </div>
	                <div class="collapse navbar-collapse" id="navcol-1">
	                    <ul class="nav navbar-nav navbar-right">
	                        <li role="presentation"><a [routerLink]="['/enter']" style="color:rgb(255,255,255);">All officials</a></li>
	                        <li role="presentation"><a href="#">+Add new person or promise</a></li>
	                    </ul>
	            	</div>
	    	</div>
	    </nav>
    </div>
    <div class="features-clean"  *ngIf="official!=null" >
    		<img class="img-rounded img-responsive visible-xs-block visible-sm-block visible-md-block visible-lg-block visible-xs-inline visible-sm-inline visible-md-inline" width="35%" src={{official.photo}} style="position: absolute;max-height:70%; max-width:42%;height:auto;width:auto; margin: auto">
    	
        <div class="container">
            <div class="intro" style="margin-left: 500px">

                <h2 class="text-center">{{official.first_name}} {{official.last_name}}</h2>
                <p class="text-center">{{official.description}} </p>
                
				<h3 class="text-center">Total promises: {{total}}</h3>
				<h3 class="text-center">Failed: {{failed.length}}</h3>
				<h3 class="text-center">Succeed: {{succeed.length}}</h3>
				<h3 class="text-center">Processing: {{proccessing.length}}</h3>
				<a class="text-center" *ngIf='admin==true' [routerLink]="['/edit', official._id]">Edit</a>
            </div>
            <div class="row features">
            	<div class="prom" *ngIf='promises'>
                <div *ngFor='let x of promises' class="col-md-4 col-sm-6 item"><i class="glyphicon glyphicon-map-marker icon"></i>
                    <h3 class="name">{{x.title}}</h3>
                    <p class="description">{{x.description}}</p>
                    <p class="description">{{x.status}}</p>
                    <a href={{x.link}}>Source</a>
						<span *ngIf='admin==true'>
							<select (change)="onChange(x._id, $event.target.value)">
								<option value="">Choose one</option>
								<option value="inproccess">In proccess</option>
					          	<option value="succeed">Succeed</option>
					          	<option value="failed">Failed</option>
							</select>
						</span>
                </div>

					
				</div>
            </div>
        </div>
    </div>
    <!--  -->
    <!--  -->
    <div id='post_form'  *ngIf="official!=null">
	    <h4>Say what do you think about {{official.first_name}} {{official.last_name}}</h4>
	    <form NAME='myForm' (submit)= "createPost()" #myForm="ngForm" id="post_form_form">
	        <p>Text: <input class='inbox'
	          type="text"
	          required 
	          name="text"
	          minlength="1" 
	          [(ngModel)]="post.text"
	          #text='ngModel'>
	        </p>

	        <p>Name (optional): <input class='inbox' 
	          type="text" 
	          name="user"
	          [(ngModel)]="post.user"
	          #user='ngModel'>
	        </p>

	      <input type="submit" value="Send" [disabled]="myForm.invalid">
	    </form>
	</div>

	<div *ngIf='posts'>
	<div id = "post">
		<div *ngFor='let x of posts; let in = index'>
			<div id="one_post">
				<p>{{x.user}} said:</p>
				<p style="margin-top: -15px">{{x.text}}</p>
				<p style="font-size: xx-small;color: grey; margin-top: -15px" align="right" >{{x.createdAt}}</p>
				<span *ngIf='admin==true'>
				  			<button (click)="deletePost(x._id)">Delete</button>
				  		</span>
				<p style="font-size: small;" align="right">Leave a comment:</p>
				<div id='comment_form' align='right'>
				   

						<div>
						      <input name="text" type="text" placeholder="comment..." [(ngModel)] = "arrComments[in]['text']">
						      <input name="text" type="text" placeholder="Name(optional)" [(ngModel)] = "arrComments[in]['user']">
						      <br>
						      <button (click)="createComment(in, x._id)">Add</button>
						</div>
					


				  </div>
				  <div *ngFor='let comment of x.comments'>
				  	<div class='one_comment' style="margin-left: 70px">
				  		<p style="font-size: x-small; margin-bottom: -5px ">{{comment.user}} commented: </p>
				  		<p style="font-size: small">{{comment.text}}</p>
				  		<span *ngIf='admin==true'>
				  			<button (click)="deleteComment(comment._id)">Delete</button>
				  		</span>
				  	</div>
				  </div>
			</div>
		</div>	
	</div>
	
</div>
	<!--  -->
	<!--  -->
    
    <!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>