.prom{
	border: 1px solid silver;
	width: 250px;
	padding: 25 25;
}
#post_form{
	margin-left: 15%;
	width: 50%;
}
#post_form_form{
	/*float: right;*/
}
#one_post{
	margin-left: 20%;
	border: 1px solid azure;
	width: 350px;
	padding-left: 15px;
	/*padding-top: -10px;*/
	border-top: 1px grey solid;
}
#comment_form{
	color: grey;
	width: 250px;
	float: right;
}
#post{
	height: 300px;
}
