<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test</title>
    <!-- <link rel="stylesheet" href="vendor/bower_components/bootstrap/dist/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Features-Clean.css">
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <div class="features-clean">
    	<img class="img-rounded img-responsive visible-xs-block visible-sm-block visible-md-block visible-lg-block visible-xs-inline visible-sm-inline visible-md-inline" height="300" src={{official.photo}} style="position: absolute;">
        <div class="container">
            <div class="intro" style="margin-left: 500px">

                <h2 class="text-center">{{official.first_name}} {{official.last_name}}</h2>
                <p class="text-center">{{official.description}} </p>
                
				<h3 class="text-center">Total promises: {{total}}</h3>
				<h3 class="text-center">Failed: {{failed.length}}</h3>
				<h3 class="text-center">Succeed: {{succeed.length}}</h3>
				<h3 class="text-center">Processing: {{proccessing.length}}</h3>
				<a class="text-center" *ngIf='admin==true' [routerLink]="['/edit', official._id]">Edit</a>
            </div>
            <div class="row features">
            	<div class="prom" *ngIf='promises'>
                <div *ngFor='let x of promises' class="col-md-4 col-sm-6 item"><i class="glyphicon glyphicon-map-marker icon"></i>
                    <h3 class="name">{{x.title}}</h3>
                    <p class="description">{{x.description}}</p>
                    <p class="description">{{x.status}}</p>
                    <a href={{x.link}}>Source</a>
						<span *ngIf='admin==true'>
							<select (change)="onChange(x._id, $event.target.value)">
								<option value="">Choose one</option>
								<option value="inproccess">In proccess</option>
					          	<option value="succeed">Succeed</option>
					          	<option value="failed">Failed</option>
							</select>
						</span>
                </div>

					
				</div>
            </div>
        </div>
    </div>
    <!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>